[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/vedpatil611/glfw
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/rapidcsv"]
	path = Dependencies/rapidcsv
	url = https://github.com/d99kris/rapidcsv
[submodule "Dependencies/imgui-filebrowser"]
	path = Dependencies/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "MLPlusPlus/src/vendors/implot"]
	path = MLPlusPlus/src/vendors/implot
	url = https://github.com/epezent/implot
